<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false">
	<bean id="eflowUsersVManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.service.impl.EflowUsersVManagerImpl">
				<property name="eflowUsersVDAO" ref="eflowUsersVDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="avdelingAvregningBelopManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.service.impl.AvdelingAvregningBelopManagerImpl">
				<property name="avdelingAvregningBelopDAO" ref="avdelingAvregningBelopDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="avdelingAvregningManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.service.impl.AvdelingAvregningManagerImpl">
				<property name="avdelingAvregningDAO" ref="avdelingAvregningDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="totalAvregningVManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.service.impl.TotalAvregningVManagerImpl">
				<property name="totalAvregningVDAO" ref="totalAvregningVDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="frafE2bPkgManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.service.impl.FrafE2bPkgManagerImpl">
				<property name="e2bPkgDAO" ref="frafE2bPkgDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="frafMainFrameHandler" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.gui.FrafMainFrameHandler">
				<property name="applUserDAO" ref="applUserDAO"/>
				<property name="avregningFrekvensTypeDAO" ref="avregningFrekvensTypeDAO"/>
				<property name="avregningTypeDAO" ref="avregningTypeDAO"/>
				<property name="betingelseGruppeDAO" ref="betingelseGruppeDAO"/>
				<property name="betingelseTypeDAO" ref="betingelseTypeDAO"/>
				<property name="bokfSelskapDAO" ref="bokfSelskapDAO"/>
				<property name="kontraktTypeDAO" ref="kontraktTypeDAO"/>
				<property name="loggDAO" ref="loggDAO"/>
				<property name="laasDAO" ref="laasDAO"/>
				<property name="mangelTypeDAO" ref="mangelTypeDAO"/>
				<property name="mvaDAO" ref="mvaDAO"/>
				<!--property name="eflowUsersVManager" ref="eflowUsersVManager"/-->
				

				<!--property name="e2bPkgManager" ref="frafE2bPkgManager"/-->
			</bean>
		</property>
	</bean>
	
	<bean id="avdelingAvregningImportManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.service.impl.AvdelingAvregningImportManagerImpl">
				<property name="avdelingAvregningImportDAO" ref="avdelingAvregningImportDAO"/>
				<property name="avdelingOmsetningDAO" ref="avdelingOmsetningDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="fakturaTekstVManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.service.impl.FakturaTekstVManagerImpl">
				<property name="fakturaTekstVDAO" ref="fakturaTekstVDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="speiletBetingelseMangelVManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="no.ica.fraf.service.impl.SpeiletBetingelseMangelVManagerImpl">
				<property name="speiletBetingelseMangelVDAO" ref="speiletBetingelseMangelVDAO"/>
			</bean>
		</property>
	</bean>
</beans>